<div class="button-container">
    <div class="button">
      <button type="submit" (click)="loadData($event)" value="AMM">AMM</button>
    </div>
    <div class="button">
      <button type="submit" (click)="loadData($event)" value="Oil & Gas">Oil & Gas</button>
    </div>
  </div>
  <div class="main-container" *ngIf="filteredData.length > 0" cdkDrag cdkDragHandle>
    <div class="sector-box" [ngClass]="filteredData.length === 1 ? 'top-60' : ''">
      <div class="sector-name">
        {{sectorName}}
      </div>
      <div class="arrow left" (click)="onClickPlus($event)">
      </div>
    </div>
  
  
    <div class="driver-container" #driverContainer style="
    zoom: 75%;
">
      <div class="driver1" *ngFor="let allData of filteredData; index as i; trackBy: trackByItems">
        <div class="line"></div>
        <p>{{allData.driverName}}
  
          <!-- <span class="arrow left" (click)="onClickPlus($event)">
          </span> -->
        </p>
  
        <ng-container *ngIf="allData.subSector.length > 1">
          <div class="sub-driver-container">
            <div class="driversContainer" *ngFor="let drivers of allData.subSector; index as i; trackBy: trackByItems">
              <div class="sub-driver">
                {{drivers.title}}
                <div class="arrow left" (click)="onClickPlus($event)">
                </div>
              </div>
              <div class="useCaseContainer">
                <div class="useCase" [ngClass]="{'yellow': i === 2}" *ngFor="let useCaseName of allData.usecaseDescription; index as i; trackBy: trackByItems">
                  {{useCaseName}}
                </div>
  
              </div>
              <div class="useCase improvements">
                $261– 353M
              </div>
            </div>
  
          </div>
        </ng-container>
  
        <ng-container *ngIf="allData.subSector.length === 1">
          <div class="sub-driver" *ngFor="let drivers of allData.subSector">
            {{drivers.title}}
            <div class="arrow left" (click)="onClickPlus($event)">
            </div>
          </div>
        </ng-container>
  
        <div class="useCaseContainer" *ngIf="allData.subSector.length === 1">
          <div class="useCase" *ngFor="let useCaseName of allData.usecaseDescription">
            {{useCaseName}}
          </div>
          
  
        </div>
  
        <div class="useCase improvements" *ngIf="allData.subSector.length === 1">
          $261– 353M
        </div>
      </div>
  
    </div>
  </div>