
.driver-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0px 0px 0px 34px;
    // border-left: solid 2px #f9f9fa;
    position: relative;
    left: -90px;
    border-radius: 4px;
}
.top-60 {
    top: 60px;
}
.driver-container>:first-child {
    top: -30px;
    position: relative;
    margin: 0px;
}

.driver-container>:last-child {
    // position: relative;
    // bottom: -30px;    
    // margin: 0px;
}

.sub-driver-container>:first-child {
    position: relative;
    top: -73px;
    margin-top: 0px;
}

.sub-driver-container>:last-child {
    position: relative;
    bottom: -72px;
    margin-top: 0px;
}

.driver-container>:last-child {
    .line {
    bottom: 50%;
    height: 100%;
    }
}

.driver-container>:first-child {
    .line {
        height: 100%;
        top: 50%;
    }
}

.driver1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px 6px;
    flex-direction: row;
    align-items: center;
    padding-left: 68px;
    // margin: 200px 0px 0px;
    position: relative;
    p {
        background: #050597;
        color: #fff;
        padding: 8px 6px;
        margin: 0px 10px;
        width: 180px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: solid 1px #000;
        z-index: 1;
    }
}

.sub-driver-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: solid 2px #f9f9fa;
    min-height: 176px;
    position: relative;
    left: -55px;
    margin-top: 240px;
}

.sub-driver {
    background: #065966;
    color: #fff;
    padding: 12px;
    margin: 0px 50px 0px 80px;
    width: 168px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #000;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: calc(18% - 14px) 0px;
}

.sector-box {
    background: #050597;
    color: #fff;
    padding: 12px 12px;
    min-width: 120px;
    position: relative;
    z-index: 2;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #000;
}

// .sector-box::after {
//     content: " ";
//     position: absolute;
//     border: solid 2px #000;
//     left: 108px;
//     width: 34px;
//     z-index: -1;
//     margin-top: -16px;
// }

p::after {
    content: " ";
    position: absolute;
    border: solid 2px #f9f9fa;
    left: -82px;
    width: 40%;
    margin-top: 0px;
    z-index: -1;
}

p:hover, .sub-driver:hover, .useCaseContainer:hover, .improvements:hover, .sector-box:hover{
    .arrow {
        display: inline-block;
        cursor: pointer;
    }
}

.sub-driver::after {
    content: " ";
    position: absolute;
    border: solid 2px #f9f9fa;
    left: -82px;
    width: 90%;
    margin-top: 0px;
    z-index: -1;
}

.useCaseContainer::after {
    content: " ";
    position: absolute;
    border: solid 2px #f9f9fa;
    margin-left: -86px;
    width: 57%;
    margin-top: 58px;
    z-index: -1;
}

.improvements::after {
    content: " ";
    position: absolute;
    border: solid 2px #f9f9fa;
    left: -38px;
    width: 44%;
    margin-top: 0px;
    z-index: -1;
}

.verticle-line {
    border: solid 2px #000;
    height: 414px;
    position: relative;
    left: 133px;
    margin-top: 0px;
    top: 0px;
    left: 24px;
}

.useCase {
    padding: 10px 10px;
    margin: 0px 1px;
    width: 100%;

}

.yellow {
    color: yellow;
}

.improvements {
    background: #15bf2a;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #000;
}

.line {
    border-left: solid;
    height: 100%;
    background: aqua;
    display: inline-block;
    position: absolute;
    left: 0px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    /* height: 60px; */
    background: #a1bed7;
    align-items: center;
    padding: 12px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1024;
}

.useCaseContainer {
    justify-content: flex-start;
    background-color: #013868;
    padding: 12px;
    max-height: 120px;
    overflow: auto;
    margin: 0px 16px 0px 8px;
    display: flex;
    align-items: center;
    border: solid 1px #000;
    
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.plus {
    width:18px;
    height:18px;
    display:inline-block;
    
    background:
      linear-gradient(#000,#000) top left,
      linear-gradient(#000,#000) top right,
      linear-gradient(#000,#000) bottom left,
      linear-gradient(#000,#000) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
    background-repeat:no-repeat;
    border:2px solid #000; /*length = 30px (50px - 2x10px) */
    box-sizing:border-box;
    position: absolute;
    right: -3px;
    z-index: 1024;
    cursor: pointer;

  }
  
  .radius {
    border-radius:50%;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    right: 0px;
    position: absolute;
    display: none;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .driversContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    height: 148px;
  }