<div class="button-container">
    <div class="button">
      <button type="submit" (click)="loadData($event)" value="AMM">AMM</button>
    </div>
    <div class="button">
      <button type="submit" (click)="loadData($event)" value="Oil & Gas">Oil & Gas</button>
    </div>
  </div>
  <div class="main-container" *ngIf="filteredData.length > 0" cdkDrag cdkDragHandle>
    <div class="sector-box" [ngClass]="filteredData.length === 1 ? 'top-60' : ''">
      <div class="sector-name">
        {{sectorName}}
      </div>
      <div class="arrow left" (click)="onClickPlus($event)">
      </div>
    </div>
  
  
    <div class="driver-container" #driverContainer>
      <div class="driver1" *ngFor="let allData of filteredData; let i = index">
        <p>{{allData.driverName}}
  
          <span class="arrow left" (click)="onClickPlus($event)">
          </span>
        </p>
  
        <ng-container *ngIf="allData.subSector.length > 1">
          <div class="sub-driver-container">
            <div class="driversContainer" *ngFor="let drivers of allData.subSector">
              <div class="sub-driver">
                {{drivers.title}}
                <div class="arrow left" (click)="onClickPlus($event)">
                </div>
              </div>
              <div class="useCaseContainer">
                <div class="useCase">
                  Automate registration process to enhance patient experience
                  Monitor and manage health of high-risk patients Automate registration process to enhance patient
                  experience
                  Monitor and manage health of high-risk patients
                </div>
                <div class="useCase">
                  Automate registration process to enhance patient experience
                  Monitor and manage health of high-risk patients
                  Enhance pricing decisions using Big Data Analytics
  
                </div>
  
              </div>
              <div class="useCase improvements">
                $261– 353M
              </div>
            </div>
  
          </div>
        </ng-container>
  
        <ng-container *ngIf="allData.subSector.length === 1">
          <div class="sub-driver" *ngFor="let drivers of allData.subSector">
            {{drivers.title}}
            <div class="arrow left" (click)="onClickPlus($event)">
            </div>
          </div>
        </ng-container>
  
        <div class="useCaseContainer" *ngIf="allData.subSector.length === 1">
          <div class="useCase">
            {{allData.usecaseDescription}}
          </div>
          <div class="useCase">
            Automate registration process to enhance patient experience
            Monitor and manage health of high-risk patients
            Enhance pricing decisions using Big Data Analytics
  
          </div>
  
        </div>
  
        <div class="useCase improvements" *ngIf="allData.subSector.length === 1">
          $261– 353M
        </div>
      </div>
  
      <!-- <div class="driver1">
        <p>Overhead Cost2
        </p>
        <div class="sub-driver">
          sub Driver 2
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
  
        <div class="useCase improvements">
          $261– 353M
        </div>
      </div>
  
      <div class="driver1">
        <p>Other Operating Expense3
        </p>
        <div class="sub-driver">
          sub Driver 3
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
  
        <div class="useCase improvements">
          $261– 353M
        </div>
      </div>
  
  
      <div class="driver1">
        <p>Lorum Ipsum oreman Ipsum oreman</p>
        <div class="sub-driver">
          sub Driver 4
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
        <div class="useCase">
          Automate registration process to enhance patient experience
          Monitor and manage health of high-risk patients
          Enhance pricing decisions using Big Data Analytics
  
        </div>
  
        <div class="useCase improvements">
          $261– 353M
        </div>
      </div> -->
    </div>
  </div>